<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated indirectionsmeasuringpoint -->
      <package
            uri="http://palladiosimulator.org/Indirections/Monitoring/Measuringpoints/1.0"
            class="org.palladiosimulator.indirectionsmeasuringpoint.IndirectionsmeasuringpointPackage"
            genModel="model/indirectionsmeasuringpoint.genmodel"/>
   </extension>
   <extension point="org.palladiosimulator.edp2.visualization.derivedmetric">
      <derivedmetric
            class="org.palladiosimulator.indirections.monitoring.simulizar.datacontext.ExpectedWorstCaseReactionTimeDerivedMetric"
            id="org.palladiosimulator.indirections.monitoring.simulizar.datacontext.WorstCaseReactionTimeDerivedMetric">
      </derivedmetric>
      <derivedmetric
            class="org.palladiosimulator.indirections.monitoring.simulizar.datacontext.ProcessingTimeDerivedMetric"
            id="org.palladiosimulator.indirections.monitoring.simulizar.datacontext.ProcessingTimeDerivedMetric">
      </derivedmetric>
   </extension>  
   <extension
         point="org.palladiosimulator.simulizar.runtimestate.runtimestateaccessor">
      <runtimeStateAccessor
            accessor="org.palladiosimulator.indirections.monitoring.simulizar.datacontext.DataContextRuntimeStateAccessor">
      </runtimeStateAccessor>
   </extension>
</plugin>
